.main-nav {
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.main-nav__toggle-close {
  position: absolute;
  top: -222px;
  right: 7px;
  fill: $white-two;
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle-close {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  background: none;
  border: none;
  right: 13px;
  bottom: -42px;
  cursor: pointer;
}

.main-nav__toggle-image {
  margin: 0;
  padding: 0;
  object-fit: contain;
  fill: $light-grey-blue;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle-image {
    @include visually-hidden;
  }
}
