.radio {
  position: relative;
  cursor: pointer;
  padding-left: 80px;
  min-height: 56px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: $black-two;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.radio__input {
  @include visually-hidden;

  &:checked ~ .radio__icon {
    background-color: $black;

    &:active {
      background-color: rgba(51, 51, 51, 0.4);
    }
  }
}

.radio__icon {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #f2f2f2;
  border: 17px solid #f2f2f2;
  border-radius: 50%;
  bottom: 0;
  left: 0;
  cursor: pointer;

  &:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border-color: #d5d5d5;
  }
}
