.buttons-control {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 109px;
  box-sizing: border-box;
  background: linear-gradient(to top, $light-grey 0, $light-grey 66px, $black-60 66px, $black-60 109px);
}

@media (min-width: $tablet-width) {
  .buttons-control {
    position: static;
    background: $black-60;
    align-items: center;
    height: inherit;
  }
}

.buttons-control__replay {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  margin-right: auto;
}

.buttons-control__range-input {
  position: absolute;
  left: 23px;
  top: 20px;
  appearance: none;
  outline: none;
  width: 235px;
  height: 3px;
  background: $white-20;
  cursor: pointer;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 11px;
    height: 11px;
    background: $white;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .buttons-control__range-input {
    position: static;
    width: 100%;
    margin-left: 43px;
    margin-right: 43px;
  }
}

.buttons-control__subtitles {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  margin-right: 15px;
}

.buttons-control__fullscreen {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  border: none;
  background: none;
}

.buttons-control__image {
  margin: 0;
  padding: 0;
  fill: #5c6870;
  cursor: pointer;
}
