.advantages {
  &__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
  }

  &__text-block {
    @include padding-tb-25;
  }

  &__image {
    padding: 0;
    margin: 0;
  }

  &__list {
    margin: 0;
    padding: 0;

    @include padding-lr-20;
  }
}
