body {
  padding: 0;
  width: $mobile-width;
  // box-sizing: border-box;
  background-color: $white;
  font-family: "PT Sans", "Arial", "Times New Roman", sans-serif;
  font-size: 14px;
  color: $black;
  margin: 0 auto;
  border: 1px solid red;
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}


@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
    background-color: $white;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
