body {
  margin: 0;
  padding: 0;
  width: 320px;
  box-sizing: border-box;
  background-color: $white;
  font-family: PT Sans, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $black;
  margin: 0 auto;
}
