.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: $black-two;
    margin-right: 5px;
  }

  &__link {
    padding: 0;
    margin: 0;
    margin-left: 5px;
  }

  &__image {
    padding: 0;
    margin: 0;
    fill: $black-two;
  }
}
