.find-hotel {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  &__title {
    padding: 0;
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: $black-two;
  }

  &__description {
    padding: 0;
    margin: 0;
    line-height: 1.71;
  }

  &__button {
width: 280px;
  }

  &__link {

  }

  &__link-map {

  }

  &__image {
    padding: 0;
    margin: 0;
    object-fit: contain;
  }
}
