@font-face {
  font-family: "PT Sans";
  src: local("PTSans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  src: local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
}

@mixin text-style-18 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-align: center;
  color: $black-two;
}
