.input {
  &__label {
    text-transform: uppercase;
    line-height: 1.86;
    color: $black;
  }

  &__field {
    background-color: $light-grey;
    border: none;
    font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;
    box-sizing: border-box;


    &::-webkit-input-placeholder {
      color: $black-two;
      font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.44;
    }

    &--horizontal {
      flex-direction: column;
    }
  }
}
