.logo {
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;


  &__toggle {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    right: 6.2%;
    top: 23%;
  }

  &__toggle-image {
    margin: 0;
    padding: 0;
    object-fit: contain;
    fill: $light-grey-blue;
  }
}
