.main-nav {
  position: relative;

  &__toggle {
    position: absolute;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    right: 20px;
    bottom: -40px;
    cursor: pointer;
  }

  &__toggle-image {
    margin: 0;
    padding: 0;
    object-fit: contain;
    fill: $light-grey-blue;
  }
}
