.page-popup {
  &__error {
    width: 320px;
    height: 280px;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 67px;
    padding-bottom: 35px;
    box-sizing: border-box;
  }

  &__send {
    width: 320px;
    height: 390px;
    padding-top: 49px;
    box-sizing: border-box;
  }

}
