.page-footer {
  text-transform: uppercase;

  @include padding-lr-20;
  @include padding-tb-20;

  &__contacts {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
    color: $black-two;
    margin-bottom: 36px;
  }

  &__social {
    margin: 0;
    padding: 0;
  }

  &__copyright {
    padding: 0;
    margin: 0;
    margin-top: 40px;
  }
}
