.site-list {
  padding: 0;
  margin: 0;

  &__item {
    background-color: $light-grey-blue;
    list-style: none;
    box-shadow: 0 1 0 0 rgba(1, 1, 1, 0.2);
    inset: 0 1 0 0 $white-20;
    text-align: center;

    @include padding-tb-8;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    line-height: 2.22;
    color: $white;
    text-transform: uppercase;
  }
}
