.text-block {
  background-color: $light-grey;
  text-align: center;
  text-transform: uppercase;
  color: $black-two;

  &--border-top {
    border-top: 1px solid $black-30;
  }

  &--blue {
    background-color: $light-grey-blue;
    padding-bottom: 40px;
    color: $white;
  }

  &__image-triangle {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.44;

    @include padding-lr-20;
    margin-bottom: 10px;

    &--margin-top {
      margin-top: 40px;
    }
  }

  &__number {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.5;

    @include padding-lr-20;
    @include padding-tb-10;
  }

  &__description {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-transform: uppercase;

    @include padding-lr-15;
    margin-top: 15px;
  }
}
