.video-buttons {
  margin: 0;
  padding: 0;
  margin-top: -45px;

  @include padding-lr-20;

  &__range {
    margin: 0;
    padding: 0;
    height: 45px;
  }

  &__buttons-control {
    margin: 0;
    padding: 0;
    height: 66px;

    @include padding-lr-20;
  }
}
