.volume-slider {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);

  &__range {
    -webkit-appearance: none;
    outline: none;
    width: 235px;
    height: 3px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);

  }

  &__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }
}
